In [10]:
import pandas as pd

In [13]:
hospitals = pd.read_csv("Data/cleaned_tennessee_hospitals_v2 (1).csv")

In [14]:
hospitals.head()

,facility_id,facility_name,city_town,state,zip_code,hospital_type,hospital_ownership,emergency_services,hospital_overall_rating,county
0,440002,JACKSON-MADISON COUNTY GENERAL HOSPITAL,Jackson,TN,38301,Acute Care Hospitals,Government - Hospital District Or Authority,Yes,3.0,Madison
1,440003,HIGHPOINT HEALTH-SUMNER WITH ASCENSION SAINT T...,Gallatin,TN,37066,Acute Care Hospitals,Proprietary,Yes,2.0,Sumner
2,440006,TRISTAR SKYLINE MEDICAL CENTER,Nashville,TN,37207,Acute Care Hospitals,Voluntary Non-Profit - Private,Yes,2.0,Davidson
3,440007,UNITY MEDICAL CENTER,Manchester,TN,37355,Acute Care Hospitals,Voluntary Non-Profit - Private,Yes,NaN,Coffee
4,440008,HENDERSON COUNTY COMMUNITY HOSPITAL,Lexington,TN,38351,Acute Care Hospitals,Proprietary,Yes,NaN,Henderson

In [16]:
income = pd.read_csv("Data/cleaned_pulse_data.csv")

In [17]:
income.head()

           County     FIPS  Value (Dollars) Rank within US (of 3139 counties)
0       Tennessee  47000.0          84212.0                          42 of 52
1   United States      0.0          96922.0                               NaN
2     Lake County  47095.0          39522.0                              3127
3  Hancock County  47067.0          48165.0                              3092
4   Grundy County  47061.0          52772.0                              3029