In [1]:
import pandas as pd

df = pd.read_csv("Hospital_General_Information.csv")

df.head()

,Facility ID,Facility Name,Address,City/Town,State,ZIP Code,County/Parish,Telephone Number,Hospital Type,Hospital Ownership,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
0,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,Acute Care Hospitals,Government - Hospital District or Authority,...,0,11,0,NaN,8,8,NaN,12,11,NaN
1,010005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,(256) 593-8310,Acute Care Hospitals,Government - Hospital District or Authority,...,0,8,1,NaN,8,8,NaN,12,12,NaN
2,010006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,LAUDERDALE,(256) 768-8400,Acute Care Hospitals,Proprietary,...,0,8,1,NaN,8,8,NaN,12,10,NaN
3,010007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,Acute Care Hospitals,Voluntary non-profit - Private,...,0,7,0,NaN,8,8,NaN,12,7,NaN
4,010008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,(334) 335-3374,Acute Care Hospitals,Proprietary,...,0,2,0,NaN,8,Not Available,5.0,12,6,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5421 entries, 0 to 5420
Data columns (total 38 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Facility ID                                       5421 non-null   object
 1   Facility Name                                     5421 non-null   object
 2   Address                                           5421 non-null   object
 3   City/Town                                         5421 non-null   object
 4   State                                             5421 non-null   object
 5   ZIP Code                                          5421 non-null   int64
 6   County/Parish                                     5421 non-null   object
 7   Telephone Number                                  5421 non-null   object
 8   Hospital Type                                     5421 non-null   object
 9   Hospital Ownership                                5421 non-null   object
 10  Emergency Services                                5421 non-null   object
 11  Meets criteria for birthing friendly designation  2264 non-null   object
 12  Hospital overall rating                           5421 non-null   object
 13  Hospital overall rating footnote                  2564 non-null   object
 14  MORT Group Measure Count                          5421 non-null   object
 15  Count of Facility MORT Measures                   5421 non-null   object
 16  Count of MORT Measures Better                     5421 non-null   object
 17  Count of MORT Measures No Different               5421 non-null   object
 18  Count of MORT Measures Worse                      5421 non-null   object
 19  MORT Group Footnote                               1778 non-null   float64
 20  Safety Group Measure Count                        5421 non-null   object
 21  Count of Facility Safety Measures                 5421 non-null   object
 22  Count of Safety Measures Better                   5421 non-null   object
 23  Count of Safety Measures No Different             5421 non-null   object
 24  Count of Safety Measures Worse                    5421 non-null   object
 25  Safety Group Footnote                             2071 non-null   float64
 26  READM Group Measure Count                         5421 non-null   object
 27  Count of Facility READM Measures                  5421 non-null   object
 28  Count of READM Measures Better                    5421 non-null   object
 29  Count of READM Measures No Different              5421 non-null   object
 30  Count of READM Measures Worse                     5421 non-null   object
 31  READM Group Footnote                              1150 non-null   float64
 32  Pt Exp Group Measure Count                        5421 non-null   object
 33  Count of Facility Pt Exp Measures                 5421 non-null   object
 34  Pt Exp Group Footnote                             2267 non-null   float64
 35  TE Group Measure Count                            5421 non-null   object
 36  Count of Facility TE Measures                     5421 non-null   object
 37  TE Group Footnote                                 928 non-null    float64
dtypes: float64(5), int64(1), object(32)
memory usage: 1.6+ MB

In [3]:
df = df.replace("Not Available", pd.NA)


df["Hospital overall rating"] = pd.to_numeric(
    df["Hospital overall rating"], errors="coerce"
)

for col in df.columns:
    if "Count" in col or "Measure" in col:
        df[col] = pd.to_numeric(df[col], errors="coerce")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5421 entries, 0 to 5420
Data columns (total 38 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Facility ID                                       5421 non-null   object
 1   Facility Name                                     5421 non-null   object
 2   Address                                           5421 non-null   object
 3   City/Town                                         5421 non-null   object
 4   State                                             5421 non-null   object
 5   ZIP Code                                          5421 non-null   int64
 6   County/Parish                                     0 non-null      float64
 7   Telephone Number                                  5421 non-null   object
 8   Hospital Type                                     5421 non-null   object
 9   Hospital Ownership                                5421 non-null   object
 10  Emergency Services                                5421 non-null   object
 11  Meets criteria for birthing friendly designation  2264 non-null   object
 12  Hospital overall rating                           2869 non-null   float64
 13  Hospital overall rating footnote                  2564 non-null   object
 14  MORT Group Measure Count                          4558 non-null   float64
 15  Count of Facility MORT Measures                   3644 non-null   float64
 16  Count of MORT Measures Better                     3644 non-null   float64
 17  Count of MORT Measures No Different               3644 non-null   float64
 18  Count of MORT Measures Worse                      3644 non-null   float64
 19  MORT Group Footnote                               1778 non-null   float64
 20  Safety Group Measure Count                        4558 non-null   float64
 21  Count of Facility Safety Measures                 3356 non-null   float64
 22  Count of Safety Measures Better                   3356 non-null   float64
 23  Count of Safety Measures No Different             3356 non-null   float64
 24  Count of Safety Measures Worse                    3356 non-null   float64
 25  Safety Group Footnote                             2071 non-null   float64
 26  READM Group Measure Count                         4558 non-null   float64
 27  Count of Facility READM Measures                  4271 non-null   float64
 28  Count of READM Measures Better                    4271 non-null   float64
 29  Count of READM Measures No Different              4271 non-null   float64
 30  Count of READM Measures Worse                     4271 non-null   float64
 31  READM Group Footnote                              1150 non-null   float64
 32  Pt Exp Group Measure Count                        4558 non-null   float64
 33  Count of Facility Pt Exp Measures                 3154 non-null   float64
 34  Pt Exp Group Footnote                             2267 non-null   float64
 35  TE Group Measure Count                            4558 non-null   float64
 36  Count of Facility TE Measures                     4493 non-null   float64
 37  TE Group Footnote                                 928 non-null    float64
dtypes: float64(26), int64(1), object(11)
memory usage: 1.6+ MB

In [4]:
df_rating = df.dropna(subset=["Hospital overall rating"])