In [1]:
import pandas as pd

# Skip the metadata rows
df_income = pd.read_csv(
    "HDPulse_data_export.csv",
    skiprows=4
)

# Clean income column
df_income["Value (Dollars)"] = (
    df_income["Value (Dollars)"]
    .str.replace(",", "", regex=False)
    .astype(float)
)

df_income.head()

           County     FIPS  Value (Dollars) Rank within US (of 3139 counties)
0       Tennessee  47000.0          84212.0                          42 of 52
1   United States      0.0          96922.0                               NaN
2     Lake County  47095.0          39522.0                             3,127
3  Hancock County  47067.0          48165.0                             3,092
4   Grundy County  47061.0          52772.0                             3,029

In [2]:
df_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   County                             104 non-null    object
 1   FIPS                               97 non-null     float64
 2   Value (Dollars)                    97 non-null     float64
 3   Rank within US (of 3139 counties)  96 non-null     object
dtypes: float64(2), object(2)
memory usage: 3.4+ KB